
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*La barre de navigation*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2%;
    background: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: 1000;
}

.logo{
    margin-left: 3%;
    text-decoration: none;
}
.navbar a{
    padding-left: 2em;
    text-decoration: none;
}

/*body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.accueil p{
    display: flex;
    justify-content: left;
    background-color: yellow;
}
div{
    display: flex;
    justify-content: right;
}*/